{% extends 'user_profile.html' %}
{% block content %}

<div>
    <div>
        {% if message %}
        <p>{{message}}</p>
        {% endif %}

    </div>
    <form method="post" style="text-align:center;">
        {% csrf_token %}
        <h1><b>Add SecretSpot</b></h1><br>
        <input type="text" placeholder="spotname" name="spotname"><br><br><br>
        <input type="text" placeholder="location" name="location"><br><br><br>
        <input type="text" placeholder="address" name="address"><br><br><br>
        <input type="file" placeholder="Image" name="image"><br><br><br>
        <input type="textarea" placeholder="Description" name="desc"><br><br><br>
        <input type="submit" value="add review">

    </form>

    {% endblock %}

    